<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/apple-ii-screen-typeface" rel="stylesheet">
    <title>Brice Adjivon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body x-data="{ light: $persist(false) }" class="<%= controller_name %> <%= action_name %>" :class="light ? 'alt' : ''">
    <main class="container mt-24 px-5 flex place-content-center border-inherit">
      <%= yield %>
    </main>
  </lass=>
</html>
